Auto Shutdown
[{"id":"0e4131d99fbe8062","type":"server-state-changed","z":"6374ca0bbd7811ef","name":"Has the Printer been idle for more then an hour?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.octoprint_current_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Operational","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"hours","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":220,"wires":[["8e94f04a3dd5c004"],[]]},{"id":"8e94f04a3dd5c004","type":"function","z":"6374ca0bbd7811ef","name":"Add the Octoprint API Key to a header","func":"msg.headers = {};\nmsg.headers['X-Api-Key'] = \"YOUR_API_KEY\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":320,"wires":[["a6f19cacaed71597"]]},{"id":"a6f19cacaed71597","type":"http request","z":"6374ca0bbd7811ef","name":"Send the shutdown URL for the Optoprint API","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://PRINTERIP/api/system/commands/core/shutdown","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":710,"y":160,"wires":[["b1f161feeca0518f"]]},{"id":"b1f161feeca0518f","type":"delay","z":"6374ca0bbd7811ef","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720,"y":240,"wires":[["3a069c3b54ebe44d"]]},{"id":"3a069c3b54ebe44d","type":"api-call-service","z":"6374ca0bbd7811ef","name":"Turn off the Printer Switch","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.printer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":320,"wires":[["4443ba748cbb609e"]]},{"id":"4443ba748cbb609e","type":"api-call-service","z":"6374ca0bbd7811ef","name":"Turn off the Printer input boolean","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.printer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":220,"wires":[[]]},{"id":"d272ac3c.e0735","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]
