Printer Off
[{"id":"ab75a4d33618046b","type":"server-state-changed","z":"6374ca0bbd7811ef","name":"Printer input boolean turns off?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.printer","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":180,"wires":[["909469d8cc895b72"],[]]},{"id":"909469d8cc895b72","type":"api-current-state","z":"6374ca0bbd7811ef","name":"Is the Printer printing?","server":"d272ac3c.e0735","version":3,"outputs":2,"halt_if":"Printing","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.octoprint_current_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":180,"wires":[["759ab7aff6fc2d1b"],["16068f7855ef622b"]]},{"id":"759ab7aff6fc2d1b","type":"api-call-service","z":"6374ca0bbd7811ef","name":"Turn on the printing boolean and do nothing","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.printer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":140,"wires":[[]]},{"id":"16068f7855ef622b","type":"function","z":"6374ca0bbd7811ef","name":"Add the Octoprint API Key to a header","func":"msg.headers = {};\nmsg.headers['X-Api-Key'] = \"APIKEY\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":220,"wires":[["9f6af56aede8a5d1"]]},{"id":"9f6af56aede8a5d1","type":"http request","z":"6374ca0bbd7811ef","name":"Send the shutdown URL for the Octoprint API","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://PRINTERIP/api/system/commands/core/shutdown","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1090,"y":300,"wires":[["f68f87fc39943bec"]]},{"id":"f68f87fc39943bec","type":"delay","z":"6374ca0bbd7811ef","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1020,"y":380,"wires":[["c2cd7cac37086029"]]},{"id":"c2cd7cac37086029","type":"api-call-service","z":"6374ca0bbd7811ef","name":"Turn off the Printer Switch","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.printer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":380,"wires":[[]]},{"id":"d272ac3c.e0735","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]
