Node_Red/Toilet_Flow
[{"id":"10b91c0c2d0228ce","type":"server-state-changed","z":"33f65688.87e83a","g":"a3c1cc12.fd28e","name":"Manually flush toilet","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.flush_toilet","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":1600,"wires":[["771d941b8bd9c3d5"],[]]},{"id":"771d941b8bd9c3d5","type":"api-call-service","z":"33f65688.87e83a","g":"a3c1cc12.fd28e","name":"Set Volume","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.bathroom"],"data":"{\"volume_level\":0.7}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":1640,"wires":[["962167809b636206"]]},{"id":"084151aa1ad2668e","type":"server-state-changed","z":"33f65688.87e83a","g":"a3c1cc12.fd28e","name":"Was the flush motion sensor activated?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.toilet_motion_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":1740,"wires":[["771d941b8bd9c3d5"],[]]},{"id":"962167809b636206","type":"api-call-service","z":"33f65688.87e83a","g":"a3c1cc12.fd28e","name":"Schwifty","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"<audio src='https://nabucasaurl/local/mp3/schwifty.mp3'/>\",\t\"data\":{\"type\":\"tts\"},\t\"target\":[\"media_player.bathroom\"]\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":1600,"wires":[["b16f27d28b92d44f"]]},{"id":"b16f27d28b92d44f","type":"api-call-service","z":"33f65688.87e83a","g":"a3c1cc12.fd28e","name":"Set toilet servo to 10 (flush toilet)","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.servo_control"],"data":"{\"value\":-48}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":1720,"wires":[["767c45193eca6d86"]]},{"id":"33a6991bf84b2944","type":"inject","z":"33f65688.87e83a","g":"a3c1cc12.fd28e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":1760,"wires":[["b16f27d28b92d44f"]]},{"id":"767c45193eca6d86","type":"delay","z":"33f65688.87e83a","g":"a3c1cc12.fd28e","name":"Delay of 5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":830,"y":1620,"wires":[["8107ec8f43a921dc"]]},{"id":"8107ec8f43a921dc","type":"api-call-service","z":"33f65688.87e83a","g":"a3c1cc12.fd28e","name":"Reset servo","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.servo_control"],"data":"{\"value\":6}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":1720,"wires":[["96e7bd92f2ee1640"]]},{"id":"dae40b92b305fadd","type":"inject","z":"33f65688.87e83a","g":"a3c1cc12.fd28e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":1780,"wires":[["8107ec8f43a921dc"]]},{"id":"96e7bd92f2ee1640","type":"api-call-service","z":"33f65688.87e83a","g":"a3c1cc12.fd28e","name":"Turn off the Flush Toilet boolean","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.flush_toilet"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":1660,"wires":[["90e71528a016a0cd"]]},{"id":"90e71528a016a0cd","type":"delay","z":"33f65688.87e83a","g":"a3c1cc12.fd28e","name":"Delay of 7s","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1490,"y":1660,"wires":[["a44dd70c553c195c"]]},{"id":"a44dd70c553c195c","type":"api-call-service","z":"33f65688.87e83a","g":"a3c1cc12.fd28e","name":"Set Volume","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.bathroom"],"data":"{\"volume_level\":0.5}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1690,"y":1660,"wires":[[]]},{"id":"d272ac3c.e0735","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]
