Node_Red/TV Light flow
[{"id":"bab7b80549e0dc0c","type":"api-call-service","z":"6374ca0bbd7811ef","name":"Set Kitchen Strip (50%)","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kitchen_strip"],"data":"{\"brightness\":127}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":700,"wires":[[]]},{"id":"5bb527580486b7fe","type":"group","z":"6374ca0bbd7811ef","name":"","style":{"fill":"#b797cf","label":true},"nodes":["760804633ba86fbd","801a60c23691e303","74fd8fa00c275ccc","4f9cf25b03643a46","e171c89d8c843c91","3ca08fc2a0ac1c68","01396c318bdb8261","93d49cbe2a043510","c83b6f6acac2ae2f","ce42c41cb618b335","f1cfbd2e2a9ddfd5","509ea29a42ee804e","7a1e9dab68c09e4c","5df7b2ec8cf2fa41","2e8eaabe071d5816","2b351ccb5eddb807","2e873b7573c835df","f479aee964b0d552","903f9f5410722ced","5337a5613f6a1e22","6f6bd9a01b5cd214","91836413f5f64f19","f5fd6c35f34427ed","dd4b74a47b9bfb7b","e3b150d3a326165f","df88433fe32b09fe","0a53802c2eb6716e","f2cc4d1f5b2c36b9","fce53534ebb36875","658e56d58c352af9","5d0ef78acd3a912e","301c7fb3a4c1da6c","eaf97b31d93e1570","a7459a5dfa63b325","7e388fe9d624553a","395b5f48f256eb77"],"x":88,"y":37,"w":1232,"h":1082},{"id":"760804633ba86fbd","type":"server-state-changed","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Living Room Apple TV playing?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":264,"y":178,"wires":[["801a60c23691e303"],[]]},{"id":"801a60c23691e303","type":"api-current-state","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Everywhere Group playing?","server":"d272ac3c.e0735","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.everywhere","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":604,"y":138,"wires":[[],["4f9cf25b03643a46","e171c89d8c843c91","3ca08fc2a0ac1c68","01396c318bdb8261","7e388fe9d624553a"]]},{"id":"74fd8fa00c275ccc","type":"comment","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"State: Living Room TV","info":"","x":224,"y":78,"wires":[]},{"id":"4f9cf25b03643a46","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Turn Off TV Strip","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.tv_strip"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":904,"y":98,"wires":[[]]},{"id":"e171c89d8c843c91","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Turn off Living Room Strip","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.living_room_strip"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":904,"y":158,"wires":[[]]},{"id":"3ca08fc2a0ac1c68","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Turn Off The Nanoleaf","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.nanoleaf"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":894,"y":218,"wires":[[]]},{"id":"01396c318bdb8261","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Turn off Kitchen Strip","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.kitchen_strip"],"data":"{\"transition\":5}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":894,"y":278,"wires":[[]]},{"id":"93d49cbe2a043510","type":"server-state-changed","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Living Room Apple TV idle?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"idle","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":244,"y":398,"wires":[["c83b6f6acac2ae2f"],[]]},{"id":"c83b6f6acac2ae2f","type":"api-current-state","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Everywhere Group playing?","server":"d272ac3c.e0735","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.everywhere","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":594,"y":398,"wires":[[],["f1cfbd2e2a9ddfd5","509ea29a42ee804e","df88433fe32b09fe"]]},{"id":"ce42c41cb618b335","type":"server-state-changed","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Living Room Apple TV paused?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"paused","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":264,"y":598,"wires":[["2e8eaabe071d5816"],[]]},{"id":"f1cfbd2e2a9ddfd5","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Turn on the Kitchen Strip","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kitchen_strip"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":904,"y":458,"wires":[["395b5f48f256eb77"]]},{"id":"509ea29a42ee804e","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Turn on the Living Room Strips (100%)","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.living_room_strip"],"data":"{\"brightness_pct\":100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":944,"y":518,"wires":[[]]},{"id":"7a1e9dab68c09e4c","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Turn on the Kitchen Strip","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kitchen_strip"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":904,"y":698,"wires":[["bab7b80549e0dc0c"]]},{"id":"5df7b2ec8cf2fa41","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Turn on the Living Room Strips (50%)","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.living_room_strip"],"data":"{\"brightness_pct\":50}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":944,"y":758,"wires":[[]]},{"id":"2e8eaabe071d5816","type":"api-current-state","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Everywhere Group playing?","server":"d272ac3c.e0735","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.everywhere","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":634,"y":618,"wires":[[],["7a1e9dab68c09e4c","5df7b2ec8cf2fa41","0a53802c2eb6716e"]]},{"id":"2b351ccb5eddb807","type":"server-state-changed","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Living Room Apple TV on?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"standby","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":244,"y":798,"wires":[["2e873b7573c835df"],["f479aee964b0d552"]]},{"id":"2e873b7573c835df","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Turn on Hyperion","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.first_led_hardware_instance"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":564,"y":818,"wires":[[]]},{"id":"f479aee964b0d552","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Turn off Hyperion","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.first_led_hardware_instance"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":564,"y":878,"wires":[[]]},{"id":"903f9f5410722ced","type":"api-render-template","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is it a movie?","server":"d272ac3c.e0735","version":0,"template":"{{ is_state_attr('media_player.plex_plex_for_apple_tv_living_room', 'media_content_type', 'movie') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":624,"y":1018,"wires":[["5337a5613f6a1e22"]]},{"id":"5337a5613f6a1e22","type":"switch","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"if so","property":"templateOne","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":784,"y":1018,"wires":[["6f6bd9a01b5cd214"]]},{"id":"6f6bd9a01b5cd214","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Close the Living Room Curtains","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.living_room_curtain"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1024,"y":1018,"wires":[[]]},{"id":"91836413f5f64f19","type":"server-state-changed","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is Plex playing?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.plex_plex_for_apple_tv_living_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":214,"y":1018,"wires":[["f5fd6c35f34427ed"],[]]},{"id":"f5fd6c35f34427ed","type":"time-range-switch","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Sunrise - Sunset","lat":"-33.924211898294686","lon":"151.1886483807575","startTime":"dawn","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":424,"y":1018,"wires":[["903f9f5410722ced"],[]]},{"id":"dd4b74a47b9bfb7b","type":"server-state-changed","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Living Room Shield off?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room_shield","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":274,"y":1078,"wires":[[],[]]},{"id":"e3b150d3a326165f","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Open the Living Room Curtains","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"cover","service":"open_cover","areaId":[],"deviceId":[],"entityId":["cover.living_room_curtains"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":584,"y":1078,"wires":[[]]},{"id":"df88433fe32b09fe","type":"wled2","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","address":"","brightness":"255","delay":0,"color1":"#00ffd5","color2":"#ea05fa","color3":"#0a12ff","effect":"74","effectIntensity":128,"effectSpeed":128,"name":"Set TV Strip to Colourwinkels and set colours","palette":"0","preset":"1","state":"on","x":984,"y":398,"wires":[[]]},{"id":"0a53802c2eb6716e","type":"wled2","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","address":"","brightness":"255","delay":0,"color1":"#00ffd5","color2":"#ea05fa","color3":"#0a12ff","effect":"74","effectIntensity":128,"effectSpeed":128,"name":"Set TV Strip to Colourwinkels and set colours","palette":"0","preset":"1","state":"on","x":1004,"y":578,"wires":[[]]},{"id":"f2cc4d1f5b2c36b9","type":"server-state-changed","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Living Room Xbox playing?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room_xbox_s","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":244,"y":238,"wires":[["801a60c23691e303"],[]]},{"id":"fce53534ebb36875","type":"server-state-changed","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Living Room Xbox idle?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room_xbox_s","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":234,"y":458,"wires":[["c83b6f6acac2ae2f"],[]]},{"id":"658e56d58c352af9","type":"server-state-changed","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Living Room Xbox paused?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room_xbox_s","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"paused","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":244,"y":658,"wires":[["2e8eaabe071d5816"],[]]},{"id":"5d0ef78acd3a912e","type":"server-state-changed","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Living Room Xbox on?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room_xbox_s","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":234,"y":858,"wires":[["2e873b7573c835df"],["f479aee964b0d552"]]},{"id":"301c7fb3a4c1da6c","type":"server-state-changed","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Living Room Shield playing?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room_shield","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":254,"y":298,"wires":[["801a60c23691e303"],[]]},{"id":"eaf97b31d93e1570","type":"server-state-changed","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Living Room Shield idle?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room_shield","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":244,"y":518,"wires":[["c83b6f6acac2ae2f"],[]]},{"id":"a7459a5dfa63b325","type":"server-state-changed","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Is the Living Room Shield paused?","server":"d272ac3c.e0735","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.living_room_shield","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"paused","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":254,"y":718,"wires":[["2e8eaabe071d5816"],[]]},{"id":"7e388fe9d624553a","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Turn Off The Bookshelf Lamps","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.left_bookshelf_lamp","switch.right_bookshelf_lamp"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":944,"y":338,"wires":[[]]},{"id":"395b5f48f256eb77","type":"api-call-service","z":"6374ca0bbd7811ef","g":"5bb527580486b7fe","name":"Set Kitchen Strip (100%)","server":"d272ac3c.e0735","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kitchen_strip"],"data":"{\"brightness\":255}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1184,"y":458,"wires":[[]]},{"id":"d272ac3c.e0735","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]
